
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Page Validation-->
<script type="text/javascript" th:src="@{/js/validation/forgotPassword.js}"></script>

</head>

<body id="page-top">
<div class="login-wrap">
	<div class="login-html">
<div class="login-form">
	<!-- Page Wrapper -->
	<div id="wrapper">

	
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forgot Password</label>
					
					<div class="login-form">
					<form th:action="@{/forgotPassword}" method="post"
						th:object="${user}" autocomplete="off" onsubmit="return validate();">
						
						
						<div class="group">
						<label for="user" class="label" style="color:white;"> User Name:
						</label>
						 <input type="text" name="userName" id="userName" class="input">
							</div>
						
							<div class="group">
							<label for="email" class="label" style="color:white;"> Email:</label> <input type="email"
									name="email" id="email" class="input">
							
						</div>
						
	

						<div class="group">
					<input name="Submit" type="Submit"
                 class="button" value="Submit">
				</div>
				<div class="group">
					<a href="/" class="btn btn-primary">Back To Home</a>
				</div>
						</form>
						
						<div class="hr"></div>
				
        <div align="center" th:if="${Message != ''}">
				<p style="font-size: 20; color: #FF1C19;" th:text="${Message}"></p>
			</div>
						</div>
				</div></div>
			</div>
			</div></div>
			

			<!-- Footer -->
			
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<form th:action="@{/logout}" method="get">
						<button class="btn btn-primary" name="registration" type="Submit">Logout
						</button>
					</form>

				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>